
    .container{
      flex: 1;
      background-color: '#fff';
      align-items: 'center';
      justify-content: 'center';
    }

    .titulo{
      font-family: 'space-mono-titulo';
      font-size: 30px;
      text-align: "center";
    }

    .titulo_negrito{
      font-family: 'space-mono-negrito';
      font-size: 30px;
    }

    .titulo_magro{
      font-family: 'space-mono-titulo-magro';
      font-size: 30px;
    }

    .texto{
      font-family: 'montserrat-regular-texto';
      font-size: 20px;
      line-height: 2;  
    }
  
  